# Assignment 4

## Data Cleaning

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("C:/Users/USER/Downloads/messy_data.csv")      #messy_data.csv

In [3]:
data

,TrnsnID,Data,CusmrID,ProdtID,ProdtName,Qutity,Prize,TtlSales,PaymentType,CusterAge
0,7402,03/17/2026,991,1045,Boo E,9,167.72,2935.06,NaN,87
1,5835,26-01-2035,741,1040,Book J,18,193.27,4386.52,debit card,69
2,2123,05/26/2035,933,1062,Bok N,5,126.39,1948.46,Cash,15
3,8789,28-02-2036,641,1060,Book I,6,66.98,1757.26,Cash,22
4,305,19-04-2023,123,1058,Book B,15,33.63,2578.19,Cash,-1
5,2532,19-08-2032,185,1090,Bok N,12,102.69,488.23,NaN,54
6,2996,04/03/2031,571,1086,Book D,15,176.27,4822.26,Cash,-4
7,7660,27-02-2031,172,1012,Book P,12,44.51,4966.85,Cash,82
8,8225,26-05-2026,342,1098,Book P,11,72.57,4920.76,NaN,51
9,4449,02/05/2030,614,1086,Book M,5,15.67,714.58,Debit,95
10,3621,05-08-2036,755,1051,Boo E,19,149.75,100.70,Cash,86
11,9211,07/18/2035,361,1020,Book O,14,140.04,3155.24,Credit,35
12,5023,04/10/2032,626,1092,Book I,1,24.43,3426.99,Debit,25
13,7924,04/07/2025,850,1075,Book T,10,89.13,84.65,Credit Card,31
14,4476,12-12-2029,559,1094,Book A,13,96.85,3639.27,debit card,74
15,6709,08/20/2029,583,1044,Book T,8,108.44,2664.90,Cash,9
16,108,10/21/2030,643,1042,NaN,6,181.82,4077.67,debit card,87
17,3320,08/16/2032,180,1059,Book G,17,15.92,861.47,Credit Card,97
18,5658,30-08-2026,462,1027,Book J,11,54.96,1745.57,Debit,56
19,8791,11/13/2031,523,1010,Book G,17,187.84,2499.92,NaN,46
20,800,02-12-2023,480,1060,Book I,9,77.26,2032.76,NaN,53
21,6283,04/13/2026,632,1049,Book P,12,35.86,2408.26,Credit Card,25
22,2517,13-09-2032,987,1022,Book B,18,106.15,2876.01,Credit Card,71
23,501,02/05/2027,113,1069,Book R,12,31.62,2042.28,debit card,40
24,8794,07-12-2033,980,1018,Book M,2,102.26,4959.74,Credit,77
25,1922,29-10-2028,546,1081,Book J,14,124.94,1642.17,Cash,43
26,4302,12-10-2029,566,1022,Bok N,-4,111.77,3955.85,Credit Card,57
27,9113,08-12-2030,653,1048,NaN,1,110.52,4532.75,Cash,42
28,9728,08/21/2036,307,1070,Book G,8,131.91,3184.52,debit card,65
29,6272,07-03-2033,59,1095,Book G,7,28.04,1743.71,NaN,50
...,...,...,...,...,...,...,...,...,...,...
10070,190,14-12-2024,759,1086,Book F,17,125.26,1746.16,paypal,68
10071,9999,10-05-2025,504,1018,Book I,12,187.19,2513.86,Credit,83
10072,9168,08/24/2025,222,1059,Boo E,12,121.60,4547.24,debit card,42
10073,2748,23-01-2025,120,1042,Bok N,3,66.79,4559.88,NaN,61
10074,2048,04-08-2029,637,1022,Book I,-3,106.15,2330.17,debit card,2
10075,7850,12/25/2034,678,1005,Book S,-5,102.58,4466.09,paypal,-7
10076,2559,01-06-2028,919,1006,Book I,2,103.46,3606.97,Debit,43
10077,9275,30-01-2025,84,1068,Book O,4,157.21,3231.62,paypal,68
10078,8667,08/22/2023,794,1095,Book K,5,117.41,1752.82,paypal,58
10079,6397,04/12/2025,469,1030,Book O,14,141.10,3604.93,Credit Card,94
10080,3386,04/01/2024,875,1036,NaN,15,70.55,4653.93,debit card,-1
10081,4556,20-06-2031,268,1043,Book R,17,42.18,4068.54,Credit,66
10082,1185,22-05-2030,256,1064,Bok N,4,54.99,2369.72,Debit,13
10083,6421,24-07-2032,685,1036,Book G,11,146.44,1216.02,Debit,3
10084,5052,06-07-2023,90,1036,Book J,5,116.58,1191.14,Credit Card,7
10085,5312,01/23/2033,47,1090,Book K,5,46.05,1251.00,paypal,29
10086,2434,08/08/2034,15,1001,Book I,7,123.58,3853.21,Credit Card,87
10087,6950,05/20/2030,157,1099,Book J,4,151.00,1270.07,Credit Card,59
10088,770,30-05-2036,835,1072,Book R,-5,83.84,883.07,debit card,69
10089,1686,18-01-2026,986,1076,Bookk H,0,69.36,4780.03,Debit,75
10090,8323,15-03-2033,157,1090,Boo E,1,76.06,3288.01,debit card,3
10091,5579,10/28/2024,276,1007,Book S,15,78.54,3526.21,Debit,4
10092,4427,24-01-2026,386,1018,Boo E,14,86.84,1647.51,NaN,55
10093,467,05/06/2032,564,1095,NaN,-3,50.77,4433.61,Cash,49
10094,6266,01/06/2034,804,1051,Boo E,-2,190.93,4938.27,Debit,86
10095,5735,04/03/2027,52,1066,Book G,1,191.41,2788.25,Credit Card,91
10096,5192,08/16/2025,334,1093,Bok N,-2,186.16,1187.53,paypal,50
10097,5391,06/18/2026,657,1047,Bookk H,5,84.38,2119.76,debit card,63
10098,861,04/08/2034,579,1014,Bok N,19,137.58,1708.87,Debit,-7
10099,7271,26-04-2029,153,1052,Book T,10,159.98,2743.67,debit card,77

In [4]:
data.head()

,TrnsnID,Data,CusmrID,ProdtID,ProdtName,Qutity,Prize,TtlSales,PaymentType,CusterAge
0,7402,03/17/2026,991,1045,Boo E,9,167.72,2935.06,NaN,87
1,5835,26-01-2035,741,1040,Book J,18,193.27,4386.52,debit card,69
2,2123,05/26/2035,933,1062,Bok N,5,126.39,1948.46,Cash,15
3,8789,28-02-2036,641,1060,Book I,6,66.98,1757.26,Cash,22
4,305,19-04-2023,123,1058,Book B,15,33.63,2578.19,Cash,-1

In [5]:
data.shape

(10100, 10)

In [6]:
data.columns

Index(['TrnsnID', 'Data', 'CusmrID', 'ProdtID', 'ProdtName', 'Qutity', 'Prize',
       'TtlSales', 'PaymentType', 'CusterAge'],
      dtype='object')

## 1. Duplicate Record

In [7]:
data["TrnsnID"].duplicated().value_counts()

False    10000
True       100
Name: TrnsnID, dtype: int64

In [8]:
data["Data"].duplicated().value_counts()

False    10000
True       100
Name: Data, dtype: int64

In [9]:
data["CusmrID"].duplicated().value_counts()

True     9101
False     999
Name: CusmrID, dtype: int64

In [10]:
data["ProdtName"].duplicated().value_counts()

True     10081
False       19
Name: ProdtName, dtype: int64

In [11]:
data["Qutity"].duplicated().value_counts()

True     10075
False       25
Name: Qutity, dtype: int64

In [12]:
data["Prize"].duplicated().value_counts()

False    7822
True     2278
Name: Prize, dtype: int64

In [13]:
data["TtlSales"].duplicated().value_counts()

False    9909
True      191
Name: TtlSales, dtype: int64

In [14]:
data["PaymentType"].duplicated().value_counts()

True     10093
False        7
Name: PaymentType, dtype: int64

In [15]:
data["CusterAge"].duplicated().value_counts()

True     9990
False     110
Name: CusterAge, dtype: int64

In [16]:
data.duplicated().sum()

100

In [17]:
data = data.drop_duplicates(keep = 'last')

In [18]:
data

,TrnsnID,Data,CusmrID,ProdtID,ProdtName,Qutity,Prize,TtlSales,PaymentType,CusterAge
0,7402,03/17/2026,991,1045,Boo E,9,167.72,2935.06,NaN,87
1,5835,26-01-2035,741,1040,Book J,18,193.27,4386.52,debit card,69
2,2123,05/26/2035,933,1062,Bok N,5,126.39,1948.46,Cash,15
3,8789,28-02-2036,641,1060,Book I,6,66.98,1757.26,Cash,22
4,305,19-04-2023,123,1058,Book B,15,33.63,2578.19,Cash,-1
5,2532,19-08-2032,185,1090,Bok N,12,102.69,488.23,NaN,54
6,2996,04/03/2031,571,1086,Book D,15,176.27,4822.26,Cash,-4
7,7660,27-02-2031,172,1012,Book P,12,44.51,4966.85,Cash,82
8,8225,26-05-2026,342,1098,Book P,11,72.57,4920.76,NaN,51
9,4449,02/05/2030,614,1086,Book M,5,15.67,714.58,Debit,95
10,3621,05-08-2036,755,1051,Boo E,19,149.75,100.70,Cash,86
11,9211,07/18/2035,361,1020,Book O,14,140.04,3155.24,Credit,35
12,5023,04/10/2032,626,1092,Book I,1,24.43,3426.99,Debit,25
13,7924,04/07/2025,850,1075,Book T,10,89.13,84.65,Credit Card,31
14,4476,12-12-2029,559,1094,Book A,13,96.85,3639.27,debit card,74
15,6709,08/20/2029,583,1044,Book T,8,108.44,2664.90,Cash,9
17,3320,08/16/2032,180,1059,Book G,17,15.92,861.47,Credit Card,97
18,5658,30-08-2026,462,1027,Book J,11,54.96,1745.57,Debit,56
19,8791,11/13/2031,523,1010,Book G,17,187.84,2499.92,NaN,46
21,6283,04/13/2026,632,1049,Book P,12,35.86,2408.26,Credit Card,25
22,2517,13-09-2032,987,1022,Book B,18,106.15,2876.01,Credit Card,71
23,501,02/05/2027,113,1069,Book R,12,31.62,2042.28,debit card,40
24,8794,07-12-2033,980,1018,Book M,2,102.26,4959.74,Credit,77
25,1922,29-10-2028,546,1081,Book J,14,124.94,1642.17,Cash,43
26,4302,12-10-2029,566,1022,Bok N,-4,111.77,3955.85,Credit Card,57
27,9113,08-12-2030,653,1048,NaN,1,110.52,4532.75,Cash,42
28,9728,08/21/2036,307,1070,Book G,8,131.91,3184.52,debit card,65
29,6272,07-03-2033,59,1095,Book G,7,28.04,1743.71,NaN,50
30,4443,01/09/2026,294,1088,Book P,6,137.01,2783.85,NaN,-8
31,6729,03/16/2035,851,1060,Book L,1,104.35,408.12,NaN,14
...,...,...,...,...,...,...,...,...,...,...
10070,190,14-12-2024,759,1086,Book F,17,125.26,1746.16,paypal,68
10071,9999,10-05-2025,504,1018,Book I,12,187.19,2513.86,Credit,83
10072,9168,08/24/2025,222,1059,Boo E,12,121.60,4547.24,debit card,42
10073,2748,23-01-2025,120,1042,Bok N,3,66.79,4559.88,NaN,61
10074,2048,04-08-2029,637,1022,Book I,-3,106.15,2330.17,debit card,2
10075,7850,12/25/2034,678,1005,Book S,-5,102.58,4466.09,paypal,-7
10076,2559,01-06-2028,919,1006,Book I,2,103.46,3606.97,Debit,43
10077,9275,30-01-2025,84,1068,Book O,4,157.21,3231.62,paypal,68
10078,8667,08/22/2023,794,1095,Book K,5,117.41,1752.82,paypal,58
10079,6397,04/12/2025,469,1030,Book O,14,141.10,3604.93,Credit Card,94
10080,3386,04/01/2024,875,1036,NaN,15,70.55,4653.93,debit card,-1
10081,4556,20-06-2031,268,1043,Book R,17,42.18,4068.54,Credit,66
10082,1185,22-05-2030,256,1064,Bok N,4,54.99,2369.72,Debit,13
10083,6421,24-07-2032,685,1036,Book G,11,146.44,1216.02,Debit,3
10084,5052,06-07-2023,90,1036,Book J,5,116.58,1191.14,Credit Card,7
10085,5312,01/23/2033,47,1090,Book K,5,46.05,1251.00,paypal,29
10086,2434,08/08/2034,15,1001,Book I,7,123.58,3853.21,Credit Card,87
10087,6950,05/20/2030,157,1099,Book J,4,151.00,1270.07,Credit Card,59
10088,770,30-05-2036,835,1072,Book R,-5,83.84,883.07,debit card,69
10089,1686,18-01-2026,986,1076,Bookk H,0,69.36,4780.03,Debit,75
10090,8323,15-03-2033,157,1090,Boo E,1,76.06,3288.01,debit card,3
10091,5579,10/28/2024,276,1007,Book S,15,78.54,3526.21,Debit,4
10092,4427,24-01-2026,386,1018,Boo E,14,86.84,1647.51,NaN,55
10093,467,05/06/2032,564,1095,NaN,-3,50.77,4433.61,Cash,49
10094,6266,01/06/2034,804,1051,Boo E,-2,190.93,4938.27,Debit,86
10095,5735,04/03/2027,52,1066,Book G,1,191.41,2788.25,Credit Card,91
10096,5192,08/16/2025,334,1093,Bok N,-2,186.16,1187.53,paypal,50
10097,5391,06/18/2026,657,1047,Bookk H,5,84.38,2119.76,debit card,63
10098,861,04/08/2034,579,1014,Bok N,19,137.58,1708.87,Debit,-7
10099,7271,26-04-2029,153,1052,Book T,10,159.98,2743.67,debit card,77

In [19]:
data.duplicated().sum()

0

## 2. Missing Values

In [20]:
data.isna()

,TrnsnID,Data,CusmrID,ProdtID,ProdtName,Qutity,Prize,TtlSales,PaymentType,CusterAge
0,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,True,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,True,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,True,False
21,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,True,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,True,False
30,False,False,False,False,False,False,False,False,True,False
31,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...
10070,False,False,False,False,False,False,False,False,False,False
10071,False,False,False,False,False,False,False,False,False,False
10072,False,False,False,False,False,False,False,False,False,False
10073,False,False,False,False,False,False,False,False,True,False
10074,False,False,False,False,False,False,False,False,False,False
10075,False,False,False,False,False,False,False,False,False,False
10076,False,False,False,False,False,False,False,False,False,False
10077,False,False,False,False,False,False,False,False,False,False
10078,False,False,False,False,False,False,False,False,False,False
10079,False,False,False,False,False,False,False,False,False,False
10080,False,False,False,False,True,False,False,False,False,False
10081,False,False,False,False,False,False,False,False,False,False
10082,False,False,False,False,False,False,False,False,False,False
10083,False,False,False,False,False,False,False,False,False,False
10084,False,False,False,False,False,False,False,False,False,False
10085,False,False,False,False,False,False,False,False,False,False
10086,False,False,False,False,False,False,False,False,False,False
10087,False,False,False,False,False,False,False,False,False,False
10088,False,False,False,False,False,False,False,False,False,False
10089,False,False,False,False,False,False,False,False,False,False
10090,False,False,False,False,False,False,False,False,False,False
10091,False,False,False,False,False,False,False,False,False,False
10092,False,False,False,False,False,False,False,False,True,False
10093,False,False,False,False,True,False,False,False,False,False
10094,False,False,False,False,False,False,False,False,False,False
10095,False,False,False,False,False,False,False,False,False,False
10096,False,False,False,False,False,False,False,False,False,False
10097,False,False,False,False,False,False,False,False,False,False
10098,False,False,False,False,False,False,False,False,False,False
10099,False,False,False,False,False,False,False,False,False,False

In [21]:
data.isna().sum()

TrnsnID           0
Data              0
CusmrID           0
ProdtID           0
ProdtName       994
Qutity            0
Prize             0
TtlSales          0
PaymentType    1439
CusterAge         0
dtype: int64

In [22]:
data.fillna(method = 'bfill', inplace = True)     ##backward fill to fill NAN

C:\Users\USER\Anaconda3\lib\site-packages\pandas\core\frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [23]:
data.isna().sum()

TrnsnID        0
Data           0
CusmrID        0
ProdtID        0
ProdtName      0
Qutity         0
Prize          0
TtlSales       0
PaymentType    0
CusterAge      0
dtype: int64

## 3. Consistent format for date

In [24]:
pd.to_datetime(data.Data)

0       2026-03-17
1       2035-01-26
2       2035-05-26
3       2036-02-28
4       2023-04-19
5       2032-08-19
6       2031-04-03
7       2031-02-27
8       2026-05-26
9       2030-02-05
10      2036-05-08
11      2035-07-18
12      2032-04-10
13      2025-04-07
14      2029-12-12
15      2029-08-20
17      2032-08-16
18      2026-08-30
19      2031-11-13
21      2026-04-13
22      2032-09-13
23      2027-02-05
24      2033-07-12
25      2028-10-29
26      2029-12-10
27      2030-08-12
28      2036-08-21
29      2033-07-03
30      2026-01-09
31      2035-03-16
           ...
10070   2024-12-14
10071   2025-10-05
10072   2025-08-24
10073   2025-01-23
10074   2029-04-08
10075   2034-12-25
10076   2028-01-06
10077   2025-01-30
10078   2023-08-22
10079   2025-04-12
10080   2024-04-01
10081   2031-06-20
10082   2030-05-22
10083   2032-07-24
10084   2023-06-07
10085   2033-01-23
10086   2034-08-08
10087   2030-05-20
10088   2036-05-30
10089   2026-01-18
10090   2033-03-15
10091   2024-10-28
10092   2026-01-24
10093   2032-05-06
10094   2034-01-06
10095   2027-04-03
10096   2025-08-16
10097   2026-06-18
10098   2034-04-08
10099   2029-04-26
Name: Data, Length: 10000, dtype: datetime64[ns]

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 10099
Data columns (total 10 columns):
TrnsnID        10000 non-null int64
Data           10000 non-null object
CusmrID        10000 non-null int64
ProdtID        10000 non-null int64
ProdtName      10000 non-null object
Qutity         10000 non-null int64
Prize          10000 non-null float64
TtlSales       10000 non-null float64
PaymentType    10000 non-null object
CusterAge      10000 non-null int64
dtypes: float64(2), int64(5), object(3)
memory usage: 859.4+ KB

In [26]:
data.Data = pd.to_datetime(data.Data)

C:\Users\USER\Anaconda3\lib\site-packages\pandas\core\generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [27]:
data.Data

0       2026-03-17
1       2035-01-26
2       2035-05-26
3       2036-02-28
4       2023-04-19
5       2032-08-19
6       2031-04-03
7       2031-02-27
8       2026-05-26
9       2030-02-05
10      2036-05-08
11      2035-07-18
12      2032-04-10
13      2025-04-07
14      2029-12-12
15      2029-08-20
17      2032-08-16
18      2026-08-30
19      2031-11-13
21      2026-04-13
22      2032-09-13
23      2027-02-05
24      2033-07-12
25      2028-10-29
26      2029-12-10
27      2030-08-12
28      2036-08-21
29      2033-07-03
30      2026-01-09
31      2035-03-16
           ...
10070   2024-12-14
10071   2025-10-05
10072   2025-08-24
10073   2025-01-23
10074   2029-04-08
10075   2034-12-25
10076   2028-01-06
10077   2025-01-30
10078   2023-08-22
10079   2025-04-12
10080   2024-04-01
10081   2031-06-20
10082   2030-05-22
10083   2032-07-24
10084   2023-06-07
10085   2033-01-23
10086   2034-08-08
10087   2030-05-20
10088   2036-05-30
10089   2026-01-18
10090   2033-03-15
10091   2024-10-28
10092   2026-01-24
10093   2032-05-06
10094   2034-01-06
10095   2027-04-03
10096   2025-08-16
10097   2026-06-18
10098   2034-04-08
10099   2029-04-26
Name: Data, Length: 10000, dtype: datetime64[ns]

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 10099
Data columns (total 10 columns):
TrnsnID        10000 non-null int64
Data           10000 non-null datetime64[ns]
CusmrID        10000 non-null int64
ProdtID        10000 non-null int64
ProdtName      10000 non-null object
Qutity         10000 non-null int64
Prize          10000 non-null float64
TtlSales       10000 non-null float64
PaymentType    10000 non-null object
CusterAge      10000 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(2)
memory usage: 859.4+ KB

## 4. Standardizing the payment type Names

In [29]:
data.head()

,TrnsnID,Data,CusmrID,ProdtID,ProdtName,Qutity,Prize,TtlSales,PaymentType,CusterAge
0,7402,2026-03-17,991,1045,Boo E,9,167.72,2935.06,debit card,87
1,5835,2035-01-26,741,1040,Book J,18,193.27,4386.52,debit card,69
2,2123,2035-05-26,933,1062,Bok N,5,126.39,1948.46,Cash,15
3,8789,2036-02-28,641,1060,Book I,6,66.98,1757.26,Cash,22
4,305,2023-04-19,123,1058,Book B,15,33.63,2578.19,Cash,-1

In [30]:
data['PaymentType'].unique()

array(['debit card', 'Cash', 'Debit', 'Credit', 'Credit Card', 'paypal'],
      dtype=object)

In [31]:
data['PaymentType'].replace({'Debit': 'Debit Card', 'Credit': 'Credit Card'})

0         debit card
1         debit card
2               Cash
3               Cash
4               Cash
5               Cash
6               Cash
7               Cash
8         Debit Card
9         Debit Card
10              Cash
11       Credit Card
12        Debit Card
13       Credit Card
14        debit card
15              Cash
17       Credit Card
18        Debit Card
19       Credit Card
21       Credit Card
22       Credit Card
23        debit card
24       Credit Card
25              Cash
26       Credit Card
27              Cash
28        debit card
29              Cash
30              Cash
31              Cash
            ...
10070         paypal
10071    Credit Card
10072     debit card
10073     debit card
10074     debit card
10075         paypal
10076     Debit Card
10077         paypal
10078         paypal
10079    Credit Card
10080     debit card
10081    Credit Card
10082     Debit Card
10083     Debit Card
10084    Credit Card
10085         paypal
10086    Credit Card
10087    Credit Card
10088     debit card
10089     Debit Card
10090     debit card
10091     Debit Card
10092           Cash
10093           Cash
10094     Debit Card
10095    Credit Card
10096         paypal
10097     debit card
10098     Debit Card
10099     debit card
Name: PaymentType, Length: 10000, dtype: object

In [32]:
data['PaymentType'] = data['PaymentType'].replace({'Debit': 'Debit Card', 'Credit': 'Credit Card'})

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [33]:
data

,TrnsnID,Data,CusmrID,ProdtID,ProdtName,Qutity,Prize,TtlSales,PaymentType,CusterAge
0,7402,2026-03-17,991,1045,Boo E,9,167.72,2935.06,debit card,87
1,5835,2035-01-26,741,1040,Book J,18,193.27,4386.52,debit card,69
2,2123,2035-05-26,933,1062,Bok N,5,126.39,1948.46,Cash,15
3,8789,2036-02-28,641,1060,Book I,6,66.98,1757.26,Cash,22
4,305,2023-04-19,123,1058,Book B,15,33.63,2578.19,Cash,-1
5,2532,2032-08-19,185,1090,Bok N,12,102.69,488.23,Cash,54
6,2996,2031-04-03,571,1086,Book D,15,176.27,4822.26,Cash,-4
7,7660,2031-02-27,172,1012,Book P,12,44.51,4966.85,Cash,82
8,8225,2026-05-26,342,1098,Book P,11,72.57,4920.76,Debit Card,51
9,4449,2030-02-05,614,1086,Book M,5,15.67,714.58,Debit Card,95
10,3621,2036-05-08,755,1051,Boo E,19,149.75,100.70,Cash,86
11,9211,2035-07-18,361,1020,Book O,14,140.04,3155.24,Credit Card,35
12,5023,2032-04-10,626,1092,Book I,1,24.43,3426.99,Debit Card,25
13,7924,2025-04-07,850,1075,Book T,10,89.13,84.65,Credit Card,31
14,4476,2029-12-12,559,1094,Book A,13,96.85,3639.27,debit card,74
15,6709,2029-08-20,583,1044,Book T,8,108.44,2664.90,Cash,9
17,3320,2032-08-16,180,1059,Book G,17,15.92,861.47,Credit Card,97
18,5658,2026-08-30,462,1027,Book J,11,54.96,1745.57,Debit Card,56
19,8791,2031-11-13,523,1010,Book G,17,187.84,2499.92,Credit Card,46
21,6283,2026-04-13,632,1049,Book P,12,35.86,2408.26,Credit Card,25
22,2517,2032-09-13,987,1022,Book B,18,106.15,2876.01,Credit Card,71
23,501,2027-02-05,113,1069,Book R,12,31.62,2042.28,debit card,40
24,8794,2033-07-12,980,1018,Book M,2,102.26,4959.74,Credit Card,77
25,1922,2028-10-29,546,1081,Book J,14,124.94,1642.17,Cash,43
26,4302,2029-12-10,566,1022,Bok N,-4,111.77,3955.85,Credit Card,57
27,9113,2030-08-12,653,1048,Book G,1,110.52,4532.75,Cash,42
28,9728,2036-08-21,307,1070,Book G,8,131.91,3184.52,debit card,65
29,6272,2033-07-03,59,1095,Book G,7,28.04,1743.71,Cash,50
30,4443,2026-01-09,294,1088,Book P,6,137.01,2783.85,Cash,-8
31,6729,2035-03-16,851,1060,Book L,1,104.35,408.12,Cash,14
...,...,...,...,...,...,...,...,...,...,...
10070,190,2024-12-14,759,1086,Book F,17,125.26,1746.16,paypal,68
10071,9999,2025-10-05,504,1018,Book I,12,187.19,2513.86,Credit Card,83
10072,9168,2025-08-24,222,1059,Boo E,12,121.60,4547.24,debit card,42
10073,2748,2025-01-23,120,1042,Bok N,3,66.79,4559.88,debit card,61
10074,2048,2029-04-08,637,1022,Book I,-3,106.15,2330.17,debit card,2
10075,7850,2034-12-25,678,1005,Book S,-5,102.58,4466.09,paypal,-7
10076,2559,2028-01-06,919,1006,Book I,2,103.46,3606.97,Debit Card,43
10077,9275,2025-01-30,84,1068,Book O,4,157.21,3231.62,paypal,68
10078,8667,2023-08-22,794,1095,Book K,5,117.41,1752.82,paypal,58
10079,6397,2025-04-12,469,1030,Book O,14,141.10,3604.93,Credit Card,94
10080,3386,2024-04-01,875,1036,Book R,15,70.55,4653.93,debit card,-1
10081,4556,2031-06-20,268,1043,Book R,17,42.18,4068.54,Credit Card,66
10082,1185,2030-05-22,256,1064,Bok N,4,54.99,2369.72,Debit Card,13
10083,6421,2032-07-24,685,1036,Book G,11,146.44,1216.02,Debit Card,3
10084,5052,2023-06-07,90,1036,Book J,5,116.58,1191.14,Credit Card,7
10085,5312,2033-01-23,47,1090,Book K,5,46.05,1251.00,paypal,29
10086,2434,2034-08-08,15,1001,Book I,7,123.58,3853.21,Credit Card,87
10087,6950,2030-05-20,157,1099,Book J,4,151.00,1270.07,Credit Card,59
10088,770,2036-05-30,835,1072,Book R,-5,83.84,883.07,debit card,69
10089,1686,2026-01-18,986,1076,Bookk H,0,69.36,4780.03,Debit Card,75
10090,8323,2033-03-15,157,1090,Boo E,1,76.06,3288.01,debit card,3
10091,5579,2024-10-28,276,1007,Book S,15,78.54,3526.21,Debit Card,4
10092,4427,2026-01-24,386,1018,Boo E,14,86.84,1647.51,Cash,55
10093,467,2032-05-06,564,1095,Boo E,-3,50.77,4433.61,Cash,49
10094,6266,2034-01-06,804,1051,Boo E,-2,190.93,4938.27,Debit Card,86
10095,5735,2027-04-03,52,1066,Book G,1,191.41,2788.25,Credit Card,91
10096,5192,2025-08-16,334,1093,Bok N,-2,186.16,1187.53,paypal,50
10097,5391,2026-06-18,657,1047,Bookk H,5,84.38,2119.76,debit card,63
10098,861,2034-04-08,579,1014,Bok N,19,137.58,1708.87,Debit Card,-7
10099,7271,2029-04-26,153,1052,Book T,10,159.98,2743.67,debit card,77

In [34]:
data['PaymentType'].unique()

array(['debit card', 'Cash', 'Debit Card', 'Credit Card', 'paypal'],
      dtype=object)

## 5. Nagative Values

In [35]:
data.head(50)

,TrnsnID,Data,CusmrID,ProdtID,ProdtName,Qutity,Prize,TtlSales,PaymentType,CusterAge
0,7402,2026-03-17,991,1045,Boo E,9,167.72,2935.06,debit card,87
1,5835,2035-01-26,741,1040,Book J,18,193.27,4386.52,debit card,69
2,2123,2035-05-26,933,1062,Bok N,5,126.39,1948.46,Cash,15
3,8789,2036-02-28,641,1060,Book I,6,66.98,1757.26,Cash,22
4,305,2023-04-19,123,1058,Book B,15,33.63,2578.19,Cash,-1
5,2532,2032-08-19,185,1090,Bok N,12,102.69,488.23,Cash,54
6,2996,2031-04-03,571,1086,Book D,15,176.27,4822.26,Cash,-4
7,7660,2031-02-27,172,1012,Book P,12,44.51,4966.85,Cash,82
8,8225,2026-05-26,342,1098,Book P,11,72.57,4920.76,Debit Card,51
9,4449,2030-02-05,614,1086,Book M,5,15.67,714.58,Debit Card,95
10,3621,2036-05-08,755,1051,Boo E,19,149.75,100.70,Cash,86
11,9211,2035-07-18,361,1020,Book O,14,140.04,3155.24,Credit Card,35
12,5023,2032-04-10,626,1092,Book I,1,24.43,3426.99,Debit Card,25
13,7924,2025-04-07,850,1075,Book T,10,89.13,84.65,Credit Card,31
14,4476,2029-12-12,559,1094,Book A,13,96.85,3639.27,debit card,74
15,6709,2029-08-20,583,1044,Book T,8,108.44,2664.90,Cash,9
17,3320,2032-08-16,180,1059,Book G,17,15.92,861.47,Credit Card,97
18,5658,2026-08-30,462,1027,Book J,11,54.96,1745.57,Debit Card,56
19,8791,2031-11-13,523,1010,Book G,17,187.84,2499.92,Credit Card,46
21,6283,2026-04-13,632,1049,Book P,12,35.86,2408.26,Credit Card,25
22,2517,2032-09-13,987,1022,Book B,18,106.15,2876.01,Credit Card,71
23,501,2027-02-05,113,1069,Book R,12,31.62,2042.28,debit card,40
24,8794,2033-07-12,980,1018,Book M,2,102.26,4959.74,Credit Card,77
25,1922,2028-10-29,546,1081,Book J,14,124.94,1642.17,Cash,43
26,4302,2029-12-10,566,1022,Bok N,-4,111.77,3955.85,Credit Card,57
27,9113,2030-08-12,653,1048,Book G,1,110.52,4532.75,Cash,42
28,9728,2036-08-21,307,1070,Book G,8,131.91,3184.52,debit card,65
29,6272,2033-07-03,59,1095,Book G,7,28.04,1743.71,Cash,50
30,4443,2026-01-09,294,1088,Book P,6,137.01,2783.85,Cash,-8
31,6729,2035-03-16,851,1060,Book L,1,104.35,408.12,Cash,14
32,4534,2030-10-23,963,1052,Book L,3,152.39,761.66,Cash,-1
33,34,2036-07-20,730,1062,Book A,15,153.75,3158.59,debit card,59
34,9850,2024-08-15,538,1002,Book B,3,95.99,4946.80,debit card,39
35,4429,2036-03-28,295,1057,Boo E,-4,137.59,3152.31,paypal,93
36,569,2028-11-19,815,1030,Book O,16,147.81,2153.51,Debit Card,20
37,1510,2027-05-25,241,1041,Book L,8,143.33,460.63,Cash,39
38,7788,2027-02-03,382,1059,Book R,2,101.96,2475.43,Cash,6
39,304,2032-04-23,849,1054,Book M,13,171.64,1681.68,Cash,76
40,7549,2024-03-02,622,1029,Book K,9,92.77,879.96,Cash,12
41,5530,2034-03-16,72,1069,Book K,15,99.88,1516.53,Debit Card,58
42,1122,2034-01-30,217,1087,Book F,12,16.13,1459.39,Cash,24
43,5205,2028-02-18,794,1029,Book G,18,128.35,4726.16,Cash,80
44,7289,2031-03-01,243,1009,Book L,18,36.28,2377.42,Cash,63
45,5909,2025-03-10,386,1034,Book A,3,61.26,3290.50,Debit Card,66
46,9842,2024-07-29,10,1065,Bookk H,13,180.78,366.43,Credit Card,31
47,2376,2023-12-17,243,1075,Book R,-2,191.13,1900.42,Credit Card,-10
48,2448,2023-03-07,372,1037,Book D,13,37.24,3164.13,Credit Card,-6
49,5454,2034-10-14,887,1053,Book O,10,191.20,1408.83,paypal,27
50,316,2028-02-14,566,1012,Bookk H,-1,185.04,4526.58,Credit Card,99
51,8616,2031-06-01,897,1004,Book M,-3,151.38,62.12,debit card,23

In [36]:
data['CusterAge'][data['CusterAge'] < 0]

4        -1
6        -4
30       -8
32       -1
47      -10
48       -6
64       -2
67       -6
74       -8
77       -6
99      -10
110      -9
154      -6
178      -3
181     -10
182      -7
191     -10
201      -8
206      -8
221      -5
222      -7
225      -3
242      -8
252      -3
261      -4
274      -4
283      -8
299      -1
300      -3
308      -3
         ..
9825    -10
9830     -2
9851     -6
9866     -6
9869     -9
9896     -9
9904     -4
9906     -4
9919     -1
9936     -9
9946     -2
9966     -6
9979     -7
9983     -7
9986     -9
9988     -5
9995     -9
9997     -4
10019    -2
10020    -1
10024    -9
10027    -1
10030    -3
10033    -9
10038    -6
10065    -5
10068    -4
10075    -7
10080    -1
10098    -7
Name: CusterAge, Length: 974, dtype: int64

In [37]:
data['CusterAge'][data['CusterAge'] < 0].value_counts()

-7     113
-2     102
-1     102
-5      98
-9      97
-8      97
-3      96
-6      94
-4      93
-10     82
Name: CusterAge, dtype: int64

In [38]:
data['CusterAge'][data['CusterAge'] < 0].value_counts().sum()

974

In [39]:
data['CusterAge'].max()

99

In [40]:
data['CusterAge'].min()

-10

In [41]:
len(data['CusterAge'][data['CusterAge'] < 18])

2561

In [42]:
import numpy as np

In [43]:
d = np.random.randint(16, 25, size = 2561)

In [44]:
d

array([19, 18, 24, ..., 18, 23, 19])

In [45]:
data['CusterAge'][data['CusterAge'] < 18]

2        15
4        -1
6        -4
15        9
30       -8
31       14
32       -1
38        6
40       12
47      -10
48       -6
59        8
63        4
64       -2
67       -6
72        0
74       -8
77       -6
79       12
80       16
81        7
91       11
98        2
99      -10
104      14
107       1
108      17
110      -9
120       1
129       4
         ..
9991     17
9995     -9
9997     -4
10005    14
10007    17
10010     8
10019    -2
10020    -1
10023     3
10024    -9
10027    -1
10029     0
10030    -3
10033    -9
10035    12
10036    17
10038    -6
10048    16
10052    16
10065    -5
10068    -4
10074     2
10075    -7
10080    -1
10082    13
10083     3
10084     7
10090     3
10091     4
10098    -7
Name: CusterAge, Length: 2561, dtype: int64

In [46]:
data['CusterAge'][data['CusterAge'] < 18] = d

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\USER\Anaconda3\lib\site-packages\pandas\core\generic.py:8682: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\USER\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [47]:
data['CusterAge'].unique()

array([87, 69, 19, 22, 18, 54, 24, 82, 51, 95, 86, 35, 25, 31, 74, 97, 56,
       46, 71, 40, 77, 43, 57, 42, 65, 50, 23, 59, 39, 93, 20, 76, 58, 80,
       63, 66, 16, 27, 99, 91, 68, 98, 96, 72, 17, 64, 29, 21, 75, 67, 92,
       90, 36, 45, 41, 73, 81, 49, 89, 79, 30, 37, 38, 53, 84, 85, 26, 34,
       28, 32, 61, 48, 52, 78, 60, 33, 44, 70, 88, 83, 62, 47, 94, 55],
      dtype=int64)

In [48]:
data['CusterAge'].min()

16

In [49]:
data['CusterAge'].max()

99

In [50]:
data.sample()

,TrnsnID,Data,CusmrID,ProdtID,ProdtName,Qutity,Prize,TtlSales,PaymentType,CusterAge
5240,4332,2027-11-01,526,1074,Book A,9,180.11,4684.85,Cash,19

In [51]:
data['Qutity'][data['Qutity'] < 0].value_counts().sum()

1939

In [52]:
data['Qutity'].max()

19

In [53]:
data['Qutity'].min()

-5

In [54]:
len(data['Qutity'][data['Qutity'] < 2])

2803

In [55]:
import numpy as np
q = np.random.randint(2, size = 1939)

In [56]:
q

array([1, 0, 1, ..., 0, 0, 0])

In [57]:
data['Qutity'][data['Qutity'] < 0] = q

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [58]:
data['Qutity'].unique()

array([ 9, 18,  5,  6, 15, 12, 11, 19, 14,  1, 10, 13,  8, 17,  2,  7,  3,
        0, 16,  4], dtype=int64)

In [59]:
data.head(50)

,TrnsnID,Data,CusmrID,ProdtID,ProdtName,Qutity,Prize,TtlSales,PaymentType,CusterAge
0,7402,2026-03-17,991,1045,Boo E,9,167.72,2935.06,debit card,87
1,5835,2035-01-26,741,1040,Book J,18,193.27,4386.52,debit card,69
2,2123,2035-05-26,933,1062,Bok N,5,126.39,1948.46,Cash,19
3,8789,2036-02-28,641,1060,Book I,6,66.98,1757.26,Cash,22
4,305,2023-04-19,123,1058,Book B,15,33.63,2578.19,Cash,18
5,2532,2032-08-19,185,1090,Bok N,12,102.69,488.23,Cash,54
6,2996,2031-04-03,571,1086,Book D,15,176.27,4822.26,Cash,24
7,7660,2031-02-27,172,1012,Book P,12,44.51,4966.85,Cash,82
8,8225,2026-05-26,342,1098,Book P,11,72.57,4920.76,Debit Card,51
9,4449,2030-02-05,614,1086,Book M,5,15.67,714.58,Debit Card,95
10,3621,2036-05-08,755,1051,Boo E,19,149.75,100.70,Cash,86
11,9211,2035-07-18,361,1020,Book O,14,140.04,3155.24,Credit Card,35
12,5023,2032-04-10,626,1092,Book I,1,24.43,3426.99,Debit Card,25
13,7924,2025-04-07,850,1075,Book T,10,89.13,84.65,Credit Card,31
14,4476,2029-12-12,559,1094,Book A,13,96.85,3639.27,debit card,74
15,6709,2029-08-20,583,1044,Book T,8,108.44,2664.90,Cash,19
17,3320,2032-08-16,180,1059,Book G,17,15.92,861.47,Credit Card,97
18,5658,2026-08-30,462,1027,Book J,11,54.96,1745.57,Debit Card,56
19,8791,2031-11-13,523,1010,Book G,17,187.84,2499.92,Credit Card,46
21,6283,2026-04-13,632,1049,Book P,12,35.86,2408.26,Credit Card,25
22,2517,2032-09-13,987,1022,Book B,18,106.15,2876.01,Credit Card,71
23,501,2027-02-05,113,1069,Book R,12,31.62,2042.28,debit card,40
24,8794,2033-07-12,980,1018,Book M,2,102.26,4959.74,Credit Card,77
25,1922,2028-10-29,546,1081,Book J,14,124.94,1642.17,Cash,43
26,4302,2029-12-10,566,1022,Bok N,1,111.77,3955.85,Credit Card,57
27,9113,2030-08-12,653,1048,Book G,1,110.52,4532.75,Cash,42
28,9728,2036-08-21,307,1070,Book G,8,131.91,3184.52,debit card,65
29,6272,2033-07-03,59,1095,Book G,7,28.04,1743.71,Cash,50
30,4443,2026-01-09,294,1088,Book P,6,137.01,2783.85,Cash,19
31,6729,2035-03-16,851,1060,Book L,1,104.35,408.12,Cash,24
32,4534,2030-10-23,963,1052,Book L,3,152.39,761.66,Cash,23
33,34,2036-07-20,730,1062,Book A,15,153.75,3158.59,debit card,59
34,9850,2024-08-15,538,1002,Book B,3,95.99,4946.80,debit card,39
35,4429,2036-03-28,295,1057,Boo E,0,137.59,3152.31,paypal,93
36,569,2028-11-19,815,1030,Book O,16,147.81,2153.51,Debit Card,20
37,1510,2027-05-25,241,1041,Book L,8,143.33,460.63,Cash,39
38,7788,2027-02-03,382,1059,Book R,2,101.96,2475.43,Cash,22
39,304,2032-04-23,849,1054,Book M,13,171.64,1681.68,Cash,76
40,7549,2024-03-02,622,1029,Book K,9,92.77,879.96,Cash,20
41,5530,2034-03-16,72,1069,Book K,15,99.88,1516.53,Debit Card,58
42,1122,2034-01-30,217,1087,Book F,12,16.13,1459.39,Cash,24
43,5205,2028-02-18,794,1029,Book G,18,128.35,4726.16,Cash,80
44,7289,2031-03-01,243,1009,Book L,18,36.28,2377.42,Cash,63
45,5909,2025-03-10,386,1034,Book A,3,61.26,3290.50,Debit Card,66
46,9842,2024-07-29,10,1065,Bookk H,13,180.78,366.43,Credit Card,31
47,2376,2023-12-17,243,1075,Book R,1,191.13,1900.42,Credit Card,16
48,2448,2023-03-07,372,1037,Book D,13,37.24,3164.13,Credit Card,23
49,5454,2034-10-14,887,1053,Book O,10,191.20,1408.83,paypal,27
50,316,2028-02-14,566,1012,Bookk H,0,185.04,4526.58,Credit Card,99
51,8616,2031-06-01,897,1004,Book M,1,151.38,62.12,debit card,23

## 6. Unrealistic Values

In [60]:
['Data', "TrnsnID", "CusmrID", "ProdtID", "ProdtName", "Qutity", "TtlSales", "CusterAge"]

['Data',
 'TrnsnID',
 'CusmrID',
 'ProdtID',
 'ProdtName',
 'Qutity',
 'TtlSales',
 'CusterAge']

## 7. Typos

In [61]:
'Data', 'CusterAge', 'Boo E', 'Bok N', 'Bookk H'

('Data', 'CusterAge', 'Boo E', 'Bok N', 'Bookk H')

## 8. Typos in prodtName

In [62]:
data['ProdtName'].unique()

array(['Boo E', 'Book J', 'Bok N', 'Book I', 'Book B', 'Book D', 'Book P',
       'Book M', 'Book O', 'Book T', 'Book A', 'Book G', 'Book R',
       'Book L', 'Book K', 'Book F', 'Bookk H', 'Book S'], dtype=object)

In [63]:
data['ProdtName'].replace({'Boo E': 'Book E', 'Bok N': 'Book N', 'Bookk H': 'Book H'})

0        Book E
1        Book J
2        Book N
3        Book I
4        Book B
5        Book N
6        Book D
7        Book P
8        Book P
9        Book M
10       Book E
11       Book O
12       Book I
13       Book T
14       Book A
15       Book T
17       Book G
18       Book J
19       Book G
21       Book P
22       Book B
23       Book R
24       Book M
25       Book J
26       Book N
27       Book G
28       Book G
29       Book G
30       Book P
31       Book L
          ...
10070    Book F
10071    Book I
10072    Book E
10073    Book N
10074    Book I
10075    Book S
10076    Book I
10077    Book O
10078    Book K
10079    Book O
10080    Book R
10081    Book R
10082    Book N
10083    Book G
10084    Book J
10085    Book K
10086    Book I
10087    Book J
10088    Book R
10089    Book H
10090    Book E
10091    Book S
10092    Book E
10093    Book E
10094    Book E
10095    Book G
10096    Book N
10097    Book H
10098    Book N
10099    Book T
Name: ProdtName, Length: 10000, dtype: object

In [64]:
data['ProdtName'] = data['ProdtName'].replace({'Boo E': 'Book E', 'Bok N': 'Book N', 'Bookk H': 'Book H'})

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [65]:
data['ProdtName'].unique()

array(['Book E', 'Book J', 'Book N', 'Book I', 'Book B', 'Book D',
       'Book P', 'Book M', 'Book O', 'Book T', 'Book A', 'Book G',
       'Book R', 'Book L', 'Book K', 'Book F', 'Book H', 'Book S'],
      dtype=object)

## 9

In [66]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 10099
Data columns (total 10 columns):
TrnsnID        10000 non-null int64
Data           10000 non-null datetime64[ns]
CusmrID        10000 non-null int64
ProdtID        10000 non-null int64
ProdtName      10000 non-null object
Qutity         10000 non-null int64
Prize          10000 non-null float64
TtlSales       10000 non-null float64
PaymentType    10000 non-null object
CusterAge      10000 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(2)
memory usage: 859.4+ KB

## 10. Correction of column names

In [67]:
data.sample()

,TrnsnID,Data,CusmrID,ProdtID,ProdtName,Qutity,Prize,TtlSales,PaymentType,CusterAge
2375,2499,2028-12-01,850,1070,Book M,14,96.69,4657.71,paypal,82

In [68]:
data.rename(columns={'TrnsnID': 'TransactionID', 'Data': 'Date', 'CusmrID': 'CustomerID', 'ProdtID': 'ProductID', 'ProdtName': 'ProductName', 'Qutity': 'Quantity', 'Prize': 'Price', 'TtlSales': 'TotalSales', 'CusterAge': 'CustomerAge'}, inplace = True)

C:\Users\USER\Anaconda3\lib\site-packages\pandas\core\frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [69]:
data.sample()

,TransactionID,Date,CustomerID,ProductID,ProductName,Quantity,Price,TotalSales,PaymentType,CustomerAge
4138,1371,2024-02-01,240,1022,Book A,5,97.07,402.97,Credit Card,42

In [70]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 10099
Data columns (total 10 columns):
TransactionID    10000 non-null int64
Date             10000 non-null datetime64[ns]
CustomerID       10000 non-null int64
ProductID        10000 non-null int64
ProductName      10000 non-null object
Quantity         10000 non-null int64
Price            10000 non-null float64
TotalSales       10000 non-null float64
PaymentType      10000 non-null object
CustomerAge      10000 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(2)
memory usage: 859.4+ KB

In [71]:
data

,TransactionID,Date,CustomerID,ProductID,ProductName,Quantity,Price,TotalSales,PaymentType,CustomerAge
0,7402,2026-03-17,991,1045,Book E,9,167.72,2935.06,debit card,87
1,5835,2035-01-26,741,1040,Book J,18,193.27,4386.52,debit card,69
2,2123,2035-05-26,933,1062,Book N,5,126.39,1948.46,Cash,19
3,8789,2036-02-28,641,1060,Book I,6,66.98,1757.26,Cash,22
4,305,2023-04-19,123,1058,Book B,15,33.63,2578.19,Cash,18
5,2532,2032-08-19,185,1090,Book N,12,102.69,488.23,Cash,54
6,2996,2031-04-03,571,1086,Book D,15,176.27,4822.26,Cash,24
7,7660,2031-02-27,172,1012,Book P,12,44.51,4966.85,Cash,82
8,8225,2026-05-26,342,1098,Book P,11,72.57,4920.76,Debit Card,51
9,4449,2030-02-05,614,1086,Book M,5,15.67,714.58,Debit Card,95
10,3621,2036-05-08,755,1051,Book E,19,149.75,100.70,Cash,86
11,9211,2035-07-18,361,1020,Book O,14,140.04,3155.24,Credit Card,35
12,5023,2032-04-10,626,1092,Book I,1,24.43,3426.99,Debit Card,25
13,7924,2025-04-07,850,1075,Book T,10,89.13,84.65,Credit Card,31
14,4476,2029-12-12,559,1094,Book A,13,96.85,3639.27,debit card,74
15,6709,2029-08-20,583,1044,Book T,8,108.44,2664.90,Cash,19
17,3320,2032-08-16,180,1059,Book G,17,15.92,861.47,Credit Card,97
18,5658,2026-08-30,462,1027,Book J,11,54.96,1745.57,Debit Card,56
19,8791,2031-11-13,523,1010,Book G,17,187.84,2499.92,Credit Card,46
21,6283,2026-04-13,632,1049,Book P,12,35.86,2408.26,Credit Card,25
22,2517,2032-09-13,987,1022,Book B,18,106.15,2876.01,Credit Card,71
23,501,2027-02-05,113,1069,Book R,12,31.62,2042.28,debit card,40
24,8794,2033-07-12,980,1018,Book M,2,102.26,4959.74,Credit Card,77
25,1922,2028-10-29,546,1081,Book J,14,124.94,1642.17,Cash,43
26,4302,2029-12-10,566,1022,Book N,1,111.77,3955.85,Credit Card,57
27,9113,2030-08-12,653,1048,Book G,1,110.52,4532.75,Cash,42
28,9728,2036-08-21,307,1070,Book G,8,131.91,3184.52,debit card,65
29,6272,2033-07-03,59,1095,Book G,7,28.04,1743.71,Cash,50
30,4443,2026-01-09,294,1088,Book P,6,137.01,2783.85,Cash,19
31,6729,2035-03-16,851,1060,Book L,1,104.35,408.12,Cash,24
...,...,...,...,...,...,...,...,...,...,...
10070,190,2024-12-14,759,1086,Book F,17,125.26,1746.16,paypal,68
10071,9999,2025-10-05,504,1018,Book I,12,187.19,2513.86,Credit Card,83
10072,9168,2025-08-24,222,1059,Book E,12,121.60,4547.24,debit card,42
10073,2748,2025-01-23,120,1042,Book N,3,66.79,4559.88,debit card,61
10074,2048,2029-04-08,637,1022,Book I,1,106.15,2330.17,debit card,21
10075,7850,2034-12-25,678,1005,Book S,1,102.58,4466.09,paypal,24
10076,2559,2028-01-06,919,1006,Book I,2,103.46,3606.97,Debit Card,43
10077,9275,2025-01-30,84,1068,Book O,4,157.21,3231.62,paypal,68
10078,8667,2023-08-22,794,1095,Book K,5,117.41,1752.82,paypal,58
10079,6397,2025-04-12,469,1030,Book O,14,141.10,3604.93,Credit Card,94
10080,3386,2024-04-01,875,1036,Book R,15,70.55,4653.93,debit card,22
10081,4556,2031-06-20,268,1043,Book R,17,42.18,4068.54,Credit Card,66
10082,1185,2030-05-22,256,1064,Book N,4,54.99,2369.72,Debit Card,17
10083,6421,2032-07-24,685,1036,Book G,11,146.44,1216.02,Debit Card,16
10084,5052,2023-06-07,90,1036,Book J,5,116.58,1191.14,Credit Card,18
10085,5312,2033-01-23,47,1090,Book K,5,46.05,1251.00,paypal,29
10086,2434,2034-08-08,15,1001,Book I,7,123.58,3853.21,Credit Card,87
10087,6950,2030-05-20,157,1099,Book J,4,151.00,1270.07,Credit Card,59
10088,770,2036-05-30,835,1072,Book R,0,83.84,883.07,debit card,69
10089,1686,2026-01-18,986,1076,Book H,0,69.36,4780.03,Debit Card,75
10090,8323,2033-03-15,157,1090,Book E,1,76.06,3288.01,debit card,18
10091,5579,2024-10-28,276,1007,Book S,15,78.54,3526.21,Debit Card,23
10092,4427,2026-01-24,386,1018,Book E,14,86.84,1647.51,Cash,55
10093,467,2032-05-06,564,1095,Book E,0,50.77,4433.61,Cash,49
10094,6266,2034-01-06,804,1051,Book E,0,190.93,4938.27,Debit Card,86
10095,5735,2027-04-03,52,1066,Book G,1,191.41,2788.25,Credit Card,91
10096,5192,2025-08-16,334,1093,Book N,0,186.16,1187.53,paypal,50
10097,5391,2026-06-18,657,1047,Book H,5,84.38,2119.76,debit card,63
10098,861,2034-04-08,579,1014,Book N,19,137.58,1708.87,Debit Card,19
10099,7271,2029-04-26,153,1052,Book T,10,159.98,2743.67,debit card,77